:root {
  --main-background-color: #202020;
  --secondary-background-color: #282323;
  --main-font-family: "Roboto", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
  --secondary-color: #f65282;
}
body {
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
p,
span {
  font-family: var(--main-font-family);
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--secondary-color);
}

header {
  background-image: url("../images/main.jpg");
  background-size: cover;
  background-position: 50% 0;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  display: inline;
  line-height: 42px;
  font-size: 20px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

p.logo a {
  font-size: 30px;
  color: goldenrod;
  font-family: "Rochester", cursive;
}

.logo {
  min-width: 180px;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 2;
  letter-spacing: 0.1em;
  margin: 25px 0;
  overflow-wrap: anywhere;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

.hero {
  text-transform: uppercase;
  text-align: center;
  padding: 50px 20px 100px;
}

.hero p {
  text-transform: none;
  max-width: 600px;
  margin: 25px auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.btn-brand {
  padding: 18px 30px;
  background: #fff;
  border-radius: 50px;
  font-family: var(--button-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #272142;
  margin-top: 40px;
  text-transform: uppercase;
}

.btn-brand:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.works h2 {
  text-transform: uppercase;
  font-weight: 400;
}

footer {
  background-color: var(--secondary-background-color);
}
footer p {
  padding: 25px 0;
  font-size: 18px;
  margin-bottom: 0;
}

.icons .fa-brands {
  margin: 0 20px;
  font-size: 18px;
}

.contact-icons {
  margin-right: 5px;
}

.about-section {
  padding: 50px 20px;
}

.about-section-content {
  margin: 50px 100px 0 40px;
  padding-bottom: 50px;
}

.about-section-content h1 {
  font-size: 58px;
  line-height: 1.2;
  margin: 30px 0;
  text-transform: uppercase;
}

.about-section-content h3,
.contact-content h3 {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-section-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.about-camera {
  padding: 20px;
  margin: 30px 0 65px;
  max-width: 450px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}
.about-camera img {
  margin-right: 10px;
  margin-bottom: 10px;
}
.about-camera span {
  font-size: 18px;
  font-weight: 700;
}

.example-gallery {
  margin-top: 70px;
}

.example-gallery p {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.gallery h1 {
  font-size: 36px;
}
.gallery,
.contact-content {
  margin: 40px 0 100px;
}

.contact-content {
  text-align: center;
}

.contact-content h1 {
  text-transform: uppercase;
  font-size: 36px;
}

.open-source-link {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 9vw;
  }
  h2 {
    font-size: 5vw;
  }

  ul {
    text-align: center;
  }

  .hero p {
    font-size: 5vw;
    max-width: 80%;
  }
  .logo a {
    text-align: center;
    display: block;
  }
  .about-section {
    padding: 50px 20px 100px;
  }

  .about-section h1 {
    font-size: 8vw;
  }
  .about-section-content {
    padding: 0;
    margin: 20px 0 0;
    text-align: center;
  }
  .gallery h1,
  .contact-content h1 {
    font-size: 8vw;
  }

  .about-camera {
    margin: 30px auto 65px;
  }
  .about-camera img {
    margin-right: 0;
  }

  nav li {
    margin-left: 5px;
    font-size: 18px;
  }
}
